.footer_section {
    background-color: #6278F7;
    padding: 3em 0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: white;
    font-weight: 400;
}

.footer_social .footer_icon {
    padding: 0 1em;
    cursor: pointer;
}

.footer_section img {
    max-width: 100%;
}

.footer_section a {
    text-decoration: none;
}